{
  "network" : {
    "servers" : [
		 "10.32.0.244:9100"
		],
   },
   "hostname" : "myhostname",		      # optional, default is host's name
   "state_file" : "/tmp/log-collector.state", # optional, default log-collector.state
   "flush_interval" : "2s",		      # optional, default 5s
   "flush_size" : 2000,			      # optional, default 1000
   "queue_size" : 1000,			      # optional, default 2000
   "send_error_delay" : "5s",		      # optional, default 1s
   "recv_tries" : 2,			      # optional, default 1
   "recv_timeout" : "30s",		      # optional, default 60s
   "files" : {
    "/opt/api-service/logs/hive-service.log" : {
      "fields" : {			      # optional
	"type" : "hive-services"
      },
      "startpos" : 0,			      # optional, default EOF
      "multiline_re" : "^\\s+",		      # optional regex
      "multiline_invert" : true,              # optional, default false
      "multiline_wait" : "10s"		      # optional, default 5s
    },
    "/var/log/haproxy.log" : {
      "fields" : {			      # optional
	"type" : "hive-services-haproxy"
      },
      "select_re" : "ERROR",                  # optional regex
      "exclude_re" : "DEBUG",                 # optional regex
      "chunksize" : 65536,		      # optional, default 128kb
      "delimiter" : "\r\n",		      # optional, default \n
      "deadtime" : "60s"		      # optional, default 30s
    }
  }
}
